<section id="form-section">

    <form id="form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend id="form-title">Payement</legend>

            <input formControlName="numeroCarte" class="inputs form-control" inputmode="numeric" type="tel" id="numeroCarte" placeholder="xxxx xxxx xxxx xxxx" [ngClass]="{'input-error': !numeroCarte.valid && numeroCarte.value, 'input-success': numeroCarte.valid}">
        
            <div *ngIf="numeroCarte.invalid && (numeroCarte.dirty || numeroCarte.touched)" class="error"> 
                <p *ngIf="numeroCarte.errors.required">Numéro de carte invalide.</p>
            </div> 

            <input formControlName="validiteMois" class="inputs form-control" type="text" id="validiteMois" placeholder="xx" [ngClass]="{'input-error': !validiteMois.valid && validiteMois.value, 'input-success': validiteMois.valid}">
            
            <div *ngIf="validiteMois.invalid && (validiteMois.dirty || validiteMois.touched)" class="error"> 
                <p *ngIf="validiteMois.errors.required">Mois non valide.</p>
            </div> 

            <input formControlName="validiteAnnee" class="inputs form-control" type="text" id="validiteAnnee" placeholder="xx" [ngClass]="{'input-error': !validiteAnnee.valid && validiteAnnee.value, 'input-success': validiteAnnee.valid}">
        
            

            <div *ngIf="validiteAnnee.invalid && (validiteAnnee.dirty || validiteAnnee.touched)" class="error"> 
                <p *ngIf="validiteAnnee.errors.required">Annee non valide.</p>
            </div>

            <input formControlName="cvc" class="inputs form-control" type="textr" id="cvc" placeholder="xxx" [ngClass]="{'input-error': !cvc.valid && cvc.value, 'input-success': cvc.valid}">
        
            <div *ngIf="cvc.invalid && (cvc.dirty || cvc.touched)" class="error"> 
                <p *ngIf="cvc.errors.required">cvc non valide.</p>
            </div> 

            <button type="submit" id="btn-submit" class="btn btn-primary btn-lg btn-block">Commander</button>

            <div *ngIf="checkoutForm.invalid" class="error"> 
                <p *ngIf="checkoutForm.errors && checkout.errors.bug">Erreur lors de la création de la commande.</p>
            </div> 

            <button type="button" id="btn-autofill" class="btn btn-warning btn-lg btn-block" (click)="fillInputs()">Saisie automatique</button>
        </fieldset>
    </form>

    <br>
</section>