#container-header {
    display: table;
    width: 100%;
    height: 10vh;
    background-color:#6B5B95;
}

#container-title {
    display: table-cell;
    vertical-align: middle;
}

#header-title {
    text-align: center;
    color: white;
}