<section *ngIf="(productObs | async) as product" id="container-table">
    <img [src]="product.image" [alt]="product.name"/>
    <h3 id="car-designation">{{ product.brand }} {{ product.name }}</h3>
    <table>
        <tr>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Puissance</th>
            <th>Couple</th>
        </tr>
        <tr>
            <td>{{ product.category }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.hp }} cv</td>
            <td>{{ product.torque }} nm</td>
        </tr>
    </table>
    <div id="snackbar">Produit ajouté au panier !</div>
    <button id ="add-btn" class="btn btn-success btn-lg btn-block" (click)="AddToCart(product)">Ajouter au panier</button>
</section>