<section *ngIf="productObs | async" id="container-table">
    <img [src]="(productObs | async)?.image" [alt]="(productObs | async)?.name"/>
    <h3 id="car-designation">{{ (productObs | async)?.brand }} {{ (productObs | async)?.name }}</h3>
    <table>
        <tr>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Puissance</th>
            <th>Couple</th>
        </tr>
        <tr>
            <td>{{ (productObs | async)?.category }}</td>
            <td>{{ (productObs | async)?.price }} €</td>
            <td>{{ (productObs | async)?.hp }} cv</td>
            <td>{{ (productObs | async)?.torque }} nm</td>
        </tr>
    </table>
    <div id="snackbar">Produit ajouté au panier !</div>
    <button id ="add-btn" class="btn btn-success btn-lg btn-block" (click)="AddToCart(productObs)">Ajouter au panier</button>
</section>