<div id="container-summary">
    <table>
        <tr class="turqBack">
            <th>Nom complet</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Login</th>
            <th>Password</th>
        </tr>
        <tr *ngIf="(clientObs | async) as client">
            <td>{{ client.civilite }} {{ client.prenom }} {{ client.nom.toUpperCase() }}</td>
            <td>{{ client.adresse }} {{ client.cp }} {{ client.ville }}</td>
            <td>{{ client.tel | telephone }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.login }}</td>
            <td>{{ client.pw }}</td>
        </tr>
    </table>

    <h4>Historique des commandes</h4>
    <app-client-orders></app-client-orders>
    <div id="snackbar">Commande effectuée !</div>
</div>
