<section id="form-section">

    <form id="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend id="form-title">Connexion</legend>

            <input formControlName="login" class="inputs form-control" type="text" id="login" placeholder="Login">
        
            <div *ngIf="login.invalid && (login.dirty || login.touched)" class="error"> 
                <p *ngIf="login.errors.required">Veuillez renseigner votre identifiant.</p>
            </div> 

            <input formControlName="password" class="inputs form-control" type="password" id="password" placeholder="Mot de passe">
        
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error"> 
                <p *ngIf="password.errors.required">Veuillez renseigner votre mot de passe.</p>
            </div> 

            <button type="submit" id="btn-submit" class="btn btn-primary btn-lg btn-block">Se connecter</button>

            <div *ngIf="loginForm.invalid && isSubmitted" class="error"> 
                <p *ngIf="loginForm.errors && loginForm.errors.apiError">Informations invalides</p>
            </div> 

        </fieldset>
    </form>

    <button type="button" class="btn btn-warning btn-lg btn-block" (click)="onResetToken()" >Réinitialiser le token</button>
    <br>
    <p>Information : Pour tester faire tdr/motdepasse</p>
    <h4>Token : {{ (tokenJwtObs | async) }}</h4>

</section>