<div id="container-orders">
    <table>
        <tr class="turqBack">
            <th>N°</th>
            <th>Date</th>
            <th>Ligne(s)</th>
            <th>Montant Total</th>
        </tr>
        <tr *ngFor="let order of orderObs | async">
            <td>{{ order.id }}</td>
            <td>{{ order.date | date:'dd/MM/yyyy - H:mm:ss' }}</td>
            <td>
                <table class="noBorder">
                    <tr class="noBack noBorder">
                        <th class="noBorder">Produit</th>
                        <th class="noBorder">Quantité</th>
                        <th class="noBorder">Montant</th>
                    </tr>
                    <tr *ngFor="let ligne of order.lignes" class="noBack noBorder">
                        <td class="noBorder">{{ ligne.productName }}</td>
                        <td class="noBorder">{{ ligne.quantity }}</td>
                        <td class="noBorder">{{ ligne.lineAmount }}</td>
                    </tr>
                </table>
            </td>
            <td>{{ order.amount | currency:'EUR' }}</td>
        </tr>
    </table>
    <br>
</div>